@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, guys!</h1>
<h6>Esse app tem como objetivo mostrar um CRUD basico com api e usando banco de dados.</h6>
<SurveyPrompt Title="How is Blazor working for you?" />
